<p style="color: green"><%= notice %></p>

<%= image_tag @artist.post_image.url, class: "image-inner"  %>

<%= render @artist %>

<div>
  <% if can? :manage, @artist %>
    <%= link_to "Edit this artist", edit_artist_path(@artist), class: "link-normal" %>
  <% end %>
  <%= link_to "Back to artists", artists_path, class: "link-normal" %>

  <h2> Releases by the artist </h2>
  <%= render @artist.issues %>
  

  <h2>Add a relevant release to the artist:</h2>
  <%= link_to "New release", new_artist_issue_path(@artist), class: "link-normal" %>

  <%= button_to "Destroy this artist", @artist, method: :delete %>
</div>
