<%= link_to artist_issue_path(@artist, issue)do %>
  <div id="<%= dom_id issue %>", class="outer-content-card">

    <%= image_tag issue.post_image.url, class: "image-outer small"  %>

    <p>
      <%= issue.name %>
    </p>

    <p>
      <strong>Описание:</strong>
      <%= issue.description %>
    </p>

    <p>
    <strong>Автор:</strong>
    <%= issue.user.email %>
    </p>

  </div>
<% end %>
