<div style="display: none; align-items: flex-start; flex-wrap: wrap; gap: 10px; justify-content: center;">
    <% Post.tag_counts_on(:tags).each do |tag| %>
        <div class="tag">
            <%= link_to tagged_posts_path(tag.name) do%>
                <%= tag.name %> (<%= tag.taggings_count %>)
            <% end %>
        </div>
    <% end %>
</div>

<div class="M_HeadContentBanner">
    <%= image_tag "BannerInCovers.png", :class => "A_ContentBannerPic displayvisible" %>
    <%= image_tag "BannerInCovers390.png", :class => "A_ContentBannerPic displaynone" %>
</div>

<div id="Anchor">
</div>

<% if params[:sort] == "likes_desc" %>
  <%= link_to "Отмена сортировки по популярности", welcome_covers_url(anchor: "Anchor"), class: "btn btn-primary" %>
  <%= link_to "Сортировать по популярности (возрастание)", welcome_covers_path(sort: :likes_asc, anchor: "Anchor"), class: "btn btn-primary" %>
    <% elsif params[:sort] == "likes_asc" %>
    <%= link_to "Отмена сортировки по популярности", welcome_covers_url(anchor: "Anchor"), class: "btn btn-primary" %>
    <%= link_to "Сортировать по популярности (убывание)", welcome_covers_path(sort: :likes_desc, anchor: "Anchor"), class: "btn btn-primary" %>
<% else %>
  <%= link_to "Сортировать по популярности (убывание)", welcome_covers_path(sort: :likes_desc, anchor: "Anchor"), class: "btn btn-primary" %>
<% end %>


<% if params[:sort] == "created_at_desc" %>
  <%= link_to "Отмена сортировки по актуальности", welcome_covers_url(anchor: "Anchor"), class: "btn btn-primary" %>
  <%= link_to "Сортировать по актуальности (от старых к новым)", welcome_covers_path(sort: :created_at_asc, anchor: "Anchor"), class: "btn btn-primary" %>
    <% elsif params[:sort] == "created_at_asc" %>
    <%= link_to "Отмена сортировки по актуальности", welcome_covers_url(anchor: "Anchor"), class: "btn btn-primary" %>
    <%= link_to "Сортировать по актуальности (от новых к старым)", welcome_covers_path(sort: :created_at_desc, anchor: "Anchor"), class: "btn btn-primary" %>
<% else %>
  <%= link_to "Сортировать по актуальности (от новых к старым)", welcome_covers_path(sort: :created_at_desc, anchor: "Anchor"), class: "btn btn-primary" %>
<% end %>

<% i = 1 %>
<% @posts.each do |post| %>
    <% if post.type == "CoverPost" %>
        <% i += 1 %>
        <%= render "cover_posts/cover_post", cover_post: post %>
        <% if i == 4 %>
            <div class="M_Reminder">
                <div class="TitleAndText">
                    <h2 class="A_H2">
                        Релиз Powders
                    </h2>
                    <p class="A_PMediumBook">
                        Над обложкой Eartheater трудилась целая команда. Может, вы знаете что-то ещё?
                    </p>
                </div>
                <button class="A_ButtonAddArticleBlack">
                    <%= image_tag "PlusIcon.svg", :class => "A_PlusIcon" %>
                    <p>Написать<br>о новинке</p>
                </button>
            </div>
        <% end %>
    <% end %>
<% end %>


<%= will_paginate @posts, :params => {:anchor => "Anchor"} %>