<div class="M_BannerInHeader">
    <div class="A_BannerPicInHeader">
        <%= image_tag "FirstBannerMain.png", :class => "A_FirstBannerMain" %>
    </div>
    <div class="C_ArtistAndRelease">
        <div class="M_Person">
            <%= image_tag "Eartheater.jpeg", :class => "A_Avatar" %>
            <p class="A_PSmallMedium">Eartheater</p>
        </div>
        <p class="A_PSmallMedium">«Powders», 2023</p>
    </div>
    <button class="A_ButtonAddArticleBlack">
        <%= image_tag "PlusIcon.svg", :class => "A_PlusIcon" %>
        <p>Написать<br>о новинке</p>
    </button>
</div>
<div class="S_MainWholeBlock">
<div class="O_VideoCardsAndTitle">
<h5 class="A_H5Medium">Лучшие видеоклипы</h5>
<div class="C_MainVideoCards">
    <div class="M_VideoCardAdditional">
    <%= image_tag "EartheaterVid.png", :class => "A_VideoCardPic" %>
        <div class="M_VideoCard">
        <h4 class="A_H4">Eartheater положила начало 4й волне феминизма</h4>
        <div class="C_AuthorAndArtist">
            <div class="M_Person">
            <%= image_tag "EartheaterVid.png", :class => "A_Avatar" %>
            <p class="A_PSmallMedium">
             esdnt
            </p>
            </div>
        <%= image_tag "Q_Unite.svg", :class => "Q_Unite" %>
            <div class="M_Person">
            <%= image_tag "EartheaterVid.png", :class => "A_Avatar" %>
            <p class="A_PSmallMedium">
            Eartheater
            </p>
            </div>
        </div>
        </div>
    </div>
    <div class="M_VideoCardAdditional">
    <%= image_tag "EartheaterVid.png", :class => "A_VideoCardPic" %>
        <div class="M_VideoCard">
        <h4 class="A_H4">Eartheater положила начало 4й волне феминизма</h4>
        <div class="C_AuthorAndArtist">
            <div class="M_Person">
            <%= image_tag "EartheaterVid.png", :class => "A_Avatar" %>
            <p class="A_PSmallMedium">
             esdnt
            </p>
            </div>
        <%= image_tag "Q_Unite.svg", :class => "Q_Unite" %>
            <div class="M_Person">
            <%= image_tag "EartheaterVid.png", :class => "A_Avatar" %>
            <p class="A_PSmallMedium">
            Eartheater
            </p>
            </div>
        </div>
        </div>
    </div>
</div>
</div>

<div class="M_Banner">
<%= image_tag "CoversMainBanner.png", :class => "A_FirstBannerMain" %>
</div>

<div class="M_BannerLong">
<h2 class="A_H2">Годный low-effort визуал</h2>
<div class="LogosAndText">
<p class="A_PMediumBook">Поговорили с&nbsp;группой &laquo;Электрофорез&raquo; о&nbsp;том, как&nbsp;делать бюджетные промо-кампании</p>
<%= image_tag "Logos.png", :class => "C_Logos" %>
</div>
</div>

<div class="O_VideoCardsAndTitle">
<h5 class="A_H5Medium">Интересные обложки</h5>
    <div class="C_SquareCoverCards">

        <div class="M_SquareCoverCardAdditional">
        <%= image_tag "EartheaterVid.png", :class => "A_VideoCardPic" %>
            <div class="M_SquareCoverCard">
            <h6 class="A_H6">Отражение религии в&nbsp;обложках</h6>
            <%= image_tag "Q_Ellipse.svg", :class => "Q_Ellipse" %>
                <div class="M_PersonSmall">
                <%= image_tag "EartheaterVid.png", :class => "A_AvatarSmall" %>
                <p class="A_PSmallMedium">
                hautilusthewriter
                </p>
                </div>
            </div>
        </div>

        <div class="M_SquareCoverCardAdditional">
        <%= image_tag "StereoCover.png", :class => "A_VideoCardPic" %>
            <div class="M_SquareCoverCard">
            <h6 class="A_H6">Отражение религии в&nbsp;обложках</h6>
            <%= image_tag "Q_Gear.svg", :class => "Q_Ellipse" %>
                <div class="M_PersonSmall">
                <%= image_tag "EartheaterVid.png", :class => "A_AvatarSmall" %>
                <p class="A_PSmallMedium">
                hautilusthewriter
                </p>
                </div>
            </div>
        </div>

        <div class="M_SquareCoverCardAdditional">
        <%= image_tag "EartheaterVid.png", :class => "A_VideoCardPic" %>
            <div class="M_SquareCoverCard">
            <h6 class="A_H6">Отражение религии в&nbsp;обложках</h6>
            <%= image_tag "Q_Gear.svg", :class => "Q_Ellipse" %>
                <div class="M_PersonSmall">
                <%= image_tag "EartheaterVid.png", :class => "A_AvatarSmall" %>
                <p class="A_PSmallMedium">
                hautilusthewriter
                </p>
                </div>
            </div>
        </div>

        <div class="M_SquareCoverCardAdditional">
        <%= image_tag "EartheaterVid.png", :class => "A_VideoCardPic" %>
            <div class="M_SquareCoverCard">
            <h6 class="A_H6">Отражение религии в&nbsp;обложках</h6>
            <%= image_tag "Q_Ellipse.svg", :class => "Q_Ellipse" %>
                <div class="M_PersonSmall">
                <%= image_tag "EartheaterVid.png", :class => "A_AvatarSmall" %>
                <p class="A_PSmallMedium">
                hautilusthewriter
                </p>
                </div>
            </div>
        </div>

        <div class="M_SquareCoverCardAdditional">
        <%= image_tag "EartheaterVid.png", :class => "A_VideoCardPic" %>
            <div class="M_SquareCoverCard">
            <h6 class="A_H6">Отражение религии в&nbsp;обложках</h6>
            <%= image_tag "Q_Cassette.svg", :class => "Q_Ellipse" %>
                <div class="M_PersonSmall">
                <%= image_tag "EartheaterVid.png", :class => "A_AvatarSmall" %>
                <p class="A_PSmallMedium">
                hautilusthewriter
                </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


