<% holes = ["Cassettes.svg", "Ellipses.svg", "Gears.svg"] %>
<% holesbottom = ["Q_Cassette.svg", "Q_Ellipse.svg", "Q_Gear.svg"] %>

<div class="S_Main">
    <div class= "O_BannerInMain">
        <div class="M_H1AndTextAndButtons">
            <div class="M_ContentInBanner">
                <h1 class="A_H1">Релиз Powders</h1>
                <p class="A_PBig">Наполовину русская экспериментальная исполнительница выпустила новый альбом с&nbsp;прекрасной обложкой!
            </div>
            <div class="C_Buttons">
                <button class="A_Button orange">Читать материал<%= image_tag "BookIcon.svg", :class => "A_Icon" %></button>
                <button class="A_Button white">Написать своё<%= image_tag "AddIcon", :class => "A_Icon" %></button>
            </div>
        </div>
        <%= image_tag "Disc.png", :class => "A_Disc" %>
    </div>
    <div class="S_BodyInMain">
        <div class="O_CoverInMain">
            <div class="M_CategoryAndAvatars">
                <div class="W_H3AndAvatars">
                    <div class="A_Category">
                        <h3 class="A_H3">Искусство обложки</h3>
                        <%= image_tag "BigArrowIcon.svg", :class => "A_IconBigArrow" %>
                    </div>
                    <div class="C_Avatars">
                        <%= image_tag "Sasha.png", :class => "A_AvatarMedium" %>
                        <%= image_tag "DanyaP.png", :class => "A_AvatarMedium" %>
                        <div class="A_AvatarMedium number">+39</div>
                    </div>
                </div>
                <%= image_tag "LineLong1728.svg", :class => "Q_Line long" %>
            </div>
            <div class="M_CoverCardsInMain">

            </div>
        </div>
    </div>
</div>