<div style="display: none; align-items: flex-start; flex-wrap: wrap; gap: 10px; justify-content: center;">
    <% Post.tag_counts_on(:tags).each do |tag| %>
        <div class="tag">
            <%= link_to tagged_posts_path(tag.name) do%>
                <%= tag.name %> (<%= tag.taggings_count %>)
            <% end %>
        </div>
    <% end %>
</div>

<div class="M_HeadContentBanner">
    <%= image_tag "BannerInPromos.png", :class => "A_ContentBannerPic displayvisible" %>
    <%= image_tag "BannerInPromos390.png", :class => "A_ContentBannerPic displaynone" %>
</div>

<div class="C_PromoCards">
    <% @posts.each do |post| %>
        <%= render "promo_posts/promo_post", promo_post: post if post.type == "PromoPost" %>
    <% end %>
</div>

<%= will_paginate @posts %>
