<div style="display: none; align-items: flex-start; flex-wrap: wrap; gap: 10px; justify-content: center;">
    <% Post.tag_counts_on(:tags).each do |tag| %>
        <div class="tag">
            <%= link_to tagged_posts_path(tag.name) do%>
                <%= tag.name %> (<%= tag.taggings_count %>)
            <% end %>
        </div>
    <% end %>
</div>

<div class="M_HeadContentBanner">
<<<<<<< HEAD
<%= image_tag "BannerInPromos.png", :class => "A_ContentBannerPic" %>
=======
    <%= image_tag "BannerInPromos.png", :class => "A_ContentBannerPic" %>
>>>>>>> 910bcfe3b207645b12f78a73ba8fe2247f17c072
</div>

<% @posts.each do |post| %>
    <%= render "promo_posts/promo_post", promo_post: post if post.type == "PromoPost" %>
<% end %>