<div id="<%= dom_id post %>", class="outer-card">

  <%= image_tag post.post_image.url, class: "image-outer"  %>

  <p>
    <%= post.name %>
  </p>

  <p>
    <strong>Автор</strong>
    <%= post.user.email %>
  </p>

  <p>
    <strong>Описание</strong>
    <%= post.description %>
  </p>

  <p class="article">
    <%= post.body%>
  </p>

</div>
