<div id="<%= dom_id post %>", class="outer-content-card">

  <%= image_tag post.post_image.url, class: "image-outer small"  %>

  <p>
    <strong>Name:</strong>
    <%= post.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

  <p>
  <strong>Written by</strong>
  <%= post.user.email %>
  </p>

  <p>
      <%= link_to "Show this post", admin_artist_issue_post_path(@artist, @issue, post), class: "link-normal wrapped-action-button center-text narrow" %>
  </p>

</div>
