<% holes = ["Q_Cassette.svg", "Q_Ellipse.svg", "Q_Gear.svg"] %>

<%= link_to artist_issue_post_path(promo_post.issue.artist, promo_post.issue, promo_post) do %>

  <div id="<%= dom_id promo_post %>", class="M_PromoCard">
  <%= image_tag holes.sample, class: "CoverHole" %>

      <div class="M_AvatarsAndTextInCards">
        <div class="C_AuthorAndArtist">
          <div class="M_PersonBig">
            <%= image_tag promo_post.user.avatar.url, class: "A_Avatar" %>
            <p class="A_PSmallMedium">
              <%= promo_post.user.email %>
            </p>
          </div>
          <%= image_tag "Q_Unite.svg", :class => "Q_Unite" %>
          <div class="M_PersonBig">
            <%= image_tag promo_post.issue.artist.post_image.url, class: "A_Avatar" %>
            <p class="A_PSmallMedium">
              <%= promo_post.issue.artist.name %>
            </p>
          </div>
        </div>
        <div class="M_TextInCards">
          <h4 class="A_H4">
            <%= promo_post.name %>
          </h4>
          <p class="A_PParagraph">
            <%= promo_post.description %>
          </p>
        </div>
      </div>
    

    <%= image_tag promo_post.post_image.url, class: "A_Photo"  %>

    <div class="M_TagsAndComments">
    <div class="C_Tags">
        <% promo_post.tag_list.each do |tag| %>
          <button class="A_Tag">
            <%= tag %>
          </button>
        <% end %>
      </div>
      <div class="M_Parameter">
        <%= image_tag "A_IconComment.svg", :class => "A_Icon" %>
        <p class="A_PSmallMedium">
          <%= promo_post.comments.count %>
        </p>
      </div>
    </div>
  </div>

<% end %>