<div id="<%= dom_id post %>", class="outer-content-card">

  <% if post.post_image.url %>
    <%= image_tag post.post_image.url, class: "image-outer"  %>
  <% end %>


  <p>
    <strong></strong>
    <%= post.name  %>
  </p>

  <p>
    <strong>Type</strong>
    <%= post.type  %>
  </p>

  <p>
    <strong>Описание:</strong>
    <%= post.description %>
  </p>

  <p>
  <strong>Автор:</strong>
  <%= post.user.email %>
  </p>
</div>
