<%= form_with(model: post, url: url) do |form| %>
  <% issue_id_array = [] %>
  <% artist_id_array = [] %>

  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :post_image, style: "display: block", value: "Обложка" %>
    <%= form.file_field :post_image %>
  </div>

  <div>
    <%= form.label :issue_id, style: "display: block", value: "ID Исполнителя" %>
    
    <% Post.all.each do |post| %>
      <% issue_id_array.push(post.issue_id) %>
    <% end %>
    <%= form.select :issue_id, issue_id_array.uniq %>
  </div>

  <div>
    <%= form.label :issue_id, style: "display: block", value: "ID Релиза" %>
    
    <% Post.all.each do |post| %>
      <% issue_id_array.push(post.issue_id) %>
    <% end %>
    <%= form.select :issue_id, issue_id_array.uniq %>
  </div>

  <div>
    <%= form.label :type, style: "display: block", value: "Тип поста" %>
    <%= form.select :type, ["VideoPost", "PromoPost", "CoverPost"] %>
  </div>

  <div>
    <%= form.label :name, style: "display: block", value: "Название" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block", value: "Описание" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :body, style: "display: block", value: "Контент" %>
    <%= form.text_field :body %>
  </div>

  <div>
    <%= form.submit value: "ОК" %>
  </div>
<% end %>
