<div id="<%= dom_id post %>", class="outer-card">

  <%= image_tag post.post_image.url, class: "image-outer"  %>

  <p>
    <%= post.name %>
  </p>

  <div style="display: inline-flex; align-items: center; gap: 20px;">
    <%= image_tag post.user.avatar.url, style: "width: 50px; border-radius: 8px;" %>
    <p>
      <strong>Автор</strong>
      <%= post.user.email %>
    </p>
  </div>

  <p>
    <strong>Теги</strong>
    <% post.tag_list.each do |tag| %>
      <span style="text-decoration: none;">
        <%= link_to "#{request.base_url}/posts/by_tag/#{tag}", style: "text-decoration: none;" do%>
          <%= tag %>
        <% end %>
      </span>
    <% end %>
  </p>

  <p>
    <strong>Описание</strong>
    <%= post.description %>
  </p>

  <p class="article">
    <%= post.body%>
  </p>

</div>
