<p style="color: green"><%= notice %></p>

<h1>Поиск по постам</h1>

<div style="display: inline-flex; align-items: flex-start; flex-wrap: wrap; gap: 10px; justify-content: center;">
    <% Post.tag_counts_on(:tags).each do |tag| %>
        <div class="tag">
            <%= link_to tagged_posts_path(tag.name) do%>
                <%= tag.name %> (<%= tag.taggings_count %>)
            <% end %>
        </div>
    <% end %>
</div>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
