<h1>Поиск по постам</h1>

<div class="C_TagCloud">
    <% Post.tag_counts_on(:tags).each do |tag| %>
        <div class="A_TagBig">
            <%= link_to tagged_posts_path(tag.name) do%>
                <%= tag.name %> (<%= tag.taggings_count %>)
            <% end %>
        </div>
    <% end %>
</div>

<div id="posts" class="C_TagsCardsBlock">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

<%= link_to "New post", new_post_path, class: "A_Button ButtonTagPage" %>
