<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_artist_issue_post_path(@post), class: "link-normal" %> |
  <%= link_to "Back to the release", artist_issue_path(@artist, @issue), class: "link-normal" %>

  <%= button_to "Destroy this post", [@artist, @post.issue, @post], method: :delete %>
</div>

<h2>Comments</h2>
<%= render @post.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>