<p style="color: green"><%= notice %></p>

<div class="M_BannerLong">
  <div class="C_AuthorAndArtist">
    <div class="M_PersonBig">
      <%= image_tag post.user.avatar.url, class: "A_Avatar" %>
      <p class="A_PSmallMedium">
        <%= post.user.email %>
      </p>
    </div>
    <%= image_tag "Q_Unite.svg", :class => "Q_Unite" %>
    <div class="M_PersonBig">
      <%= image_tag post.issue.artist.post_image.url, class: "A_Avatar" %>
      <p class="A_PSmallMedium">
        <%= post.issue.artist.name %>
      </p>
    </div>
    </div>
  <h1 class="A_H1">Кровь и&nbsp;бесовщина: Doja Cat говорит о&nbsp;важном</h1>
</div>

<%= render partial: "post_inner", locals: { post: @post } %>

<% if user_signed_in? %>
    <%= link_to "Редактировать пост", edit_artist_issue_post_path(@artist, @issue, @post), class: "link-normal action-button center-text", style: "width: 200px; margin: 0;" if can? :manage, @post %>
<% end %>
  
<% if user_signed_in? %>
  <%= button_to "Удалить пост", post_path(@post), method: :delete, class: "destroy-button" if can? :manage, @post %>
<% end %>

<h2 class="heading">Комментарии</h2>
<%= render @post.comments %>

<h2>Оставить комментарий</h2>
<% if user_signed_in? %>
  <%= render "comments/form", url: artist_issue_post_path(@artist, @issue, @post) if can? :create, Comment %>
<% else %>
  <p> Для того, чтобы оставлять комментарии надо авторизоваться :( </p>
<% end %>