<p style="color: green"><%= notice %></p>
<%= image_tag @post.post_image.url, class: "image-inner"  %>

<%= render partial: "post_inner", locals: { post: @post } %>

<div>
  <% if can? :manage, @post %>
      <%= link_to "Edit this post", edit_artist_issue_post_path(@post), class: "link-normal" %>
  <% end %>
    <%= link_to "Back to release", artist_issue_path(@artist, @issue), class: "link-normal" %>
  <% if can? :manage, @post %>
    <%= button_to "Destroy this post", [@artist, @post.issue, @post], method: :delete %>
  <% end %>
</div>

<h2>Comments</h2>
<%= render @post.comments %>

<h2>Add a comment:</h2>
<% if can? :create, Comment %>
  <%= render "comments/form" %>
<% end %>

<% if not can? :create, Comment %>
  <p> You need to be authorized to leave comments :( </p>
<% end %>