<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_artist_issue_post_path(@post), class: "link-normal" %> |
  <%= link_to "Back to the release", artist_issue_path, class: "link-normal" %>

  <%= button_to "Destroy this post", [@artist, @post.issue, @post], method: :delete %>
</div>