<%= render partial: "post_inner", locals: { post: @post } %>

<% if user_signed_in? %>
    <%= link_to "Редактировать пост", edit_artist_issue_post_path(@artist, @issue, @post), class: "link-normal action-button center-text", style: "width: 200px; margin: 0;" if can? :manage, @post %>
<% end %>
  
<% if user_signed_in? %>
  <%= button_to "Удалить пост", post_path(@post), method: :delete, class: "destroy-button" if can? :manage, @post %>
<% end %>

<div class="O_CommentsAndTitle">
  <h4 class="A_H4">Комментарии</h4>
  <%= render @post.comments %>
</div>

<div class="M_Form">
  <h4 class="A_H4">Оставить комментарий</h4>
  <div class="InputAndButton">
    <% if user_signed_in? %>
      <%= render "comments/form", url: artist_issue_post_path(@artist, @issue, @post) if can? :create, Comment %>
    <% else %>
      <p> Для того, чтобы оставлять комментарии надо авторизоваться :( </p>
    <% end %>
  </div>
</div>