<div id="<%= dom_id cover_post %>", class="outer-card">

  <%= image_tag cover_post.post_image.url, class: "image-outer"  %>

  <p>
    <strong>Про обложку</strong>
    <%= cover_post.name %>
  </p>

  <p>
    <strong>Автор</strong>
    <%= cover_post.user.email %>
  </p>

  <p>
    <strong>Описание</strong>
    <%= cover_post.description %>
  </p>

  <p class="article">
    <%= cover_post.body%>
  </p>

  <p>
    <%= link_to "На страницу поста", admin_artist_issue_post_path(@artist, @issue, promo_post), class: "link-normal wrapped-action-button center-text narrow" %>
  </p>

</div>