<p style="color: green"><%= notice %></p>

<%= render @subscription %>

<div>
  <%= link_to "Редактировать подписку", edit_admin_subscription_path(@subscription), class: "link-normal" %> |
  <%= link_to "Назад к подпискам", admin_subscriptions_path, class: "link-normal" %>

  <%= button_to "Удалить подписку", [:admin, @subscription], method: :delete, class: "destroy-button"  %>
</div>
