<div class="M_Footer">

  <%= link_to image_tag("A_Logo.svg", class: "A_Logo"), image_path(welcome_index_url) %>
  <div class="C_LinkBlockInFooter">
  <div class="C_LinkPairInFooter">
  <%= link_to "О проекте", artists_url, class: "menubar-link"  %>
  <%= link_to "Наш Telegram канал", welcome_covers_url, class: "menubar-link"  %>
  </div>
  <div class="C_LinkPairInFooter">
  <%= link_to "Предложить артиста", welcome_promos_url, class: "menubar-link"  %>
  <%= link_to "Связаться с нами", support_request_support_path, class: "menubar-link"  %>
  </div>
  </div>

</div>