<div id="<%= dom_id cover_post %>", class="outer-card">

  <%= image_tag cover_post.post_image.url, class: "image-outer"  %>

  <p>
    <strong>Про обложку</strong>
    <%= cover_post.name %>
  </p>
  
  <p>
    <strong>Теги</strong>
    <% cover_post.tag_list.each do |tag| %>
      <span>
        <%= tag %>
      </span>
    <% end %>
  </p>

  <p>
    <strong>Автор</strong>
    <%= cover_post.user.email %>
  </p>

  <p>
    <strong>Описание</strong>
    <%= cover_post.description %>
  </p>

  <p>
      <%= link_to "На страницу поста", artist_issue_post_path(cover_post.issue.artist, cover_post.issue, cover_post), class: "link-normal wrapped-action-button center-text narrow" %>
  </p>

</div>