<!DOCTYPE html>
<%
  title = "Musial"
  if @title
    @title = [@title, title].join(" | ")
  else
    @title = title
  end
%>

<% description = "Musial&nbsp;&mdash; платформа, где вы&nbsp;можете читать, писать и&nbsp;общаться о&nbsp;визуале ваших любимых артистов." %>

<html>
  <head>
    <title><%= @title %></title>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <meta name="description" content="#{@description}">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%
      set_meta_tags og: {
        title: @title,
        url: request.original_url,
        image: "http://ia.media-imdb.com/rock.jpg"
      }
    %>
    <meta property="og:title" content="<%= @title %>">
    <meta property="og:image" content="<%= request.base_url + "/shared/share_og.png" %>">
    <meta property="og:url" content="<%= request.base_url + request.path %>">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

    <body class="overall">
      <%= render 'menubar'%>
      <%= yield %>
      <%= render 'footer'%>
    </body>
</html>
