<!DOCTYPE html>
<html>
  <head>
    <title>Musial</title>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<% if controller_name == "welcome" && action_name != "feed"%>
  <body class="welcome">
    <%= render 'promo_menubar' if controller_name == "welcome"%>
    <%= yield %>
    <%= render 'promo_footer' if controller_name == "welcome"%>
  </body>
<% else %>
  <body class="admin">
    <%= render 'menubar'%>
    <%= yield %>
    <%= render 'footer'%>
  </body>
<% end %>
</html>
